body {
  padding: 0;
  margin: 0;
}

  .menu-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: turquoise;
  }
    @media screen and (max-width: 650px) {
      .menu-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
      }
    }
    .menu-item {
      padding: 10px 50px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 25px;
      color: black;
      text-decoration: none;
      transition: background-color .3s, color .3s;
    }
      @media screen and (max-width: 650px) {
        .menu-item {
          text-align: center;
        }
      }
      .menu-item:hover {
        background-color: teal;
        color: white;
      }